


    <div class="search-area">
        <div class="search-input">
            <div class="search-close">
                <div><span></span></div>
                <span></span>
            </div>
            <form>
                <input type="text" name="text" placeholder="*Search Here">
            </form>
        </div>
    </div>

    <!-- mobile-nav section start here -->
    <div class="mobile-menu">
        <nav class="mobile-header primary-menu d-xl-none d-flex justify-content-center">
            <div class="header-logo">
                <a href="index.html" class="logo"><img src="assets/images/logo/lictic.png" style="width: 77px;"
                        alt="logo"></a>
            </div>
        </nav>
        <nav class="menu">
            <div class="mobile-menu-area d-xl-none">
                <div class="mobile-menu-area-inner" id="scrollbar">
                    <ul class="m-menu">
                        <li><a href="#">Home</a>
                            <ul class="m-submenu">
                                <li><a href="index.html">Home page one</a></li>
                                <li><a href="index-2.html">Home page two</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a class="active" href="#">Pages</a>
                            <ul class="m-submenu">
                                <li>
                                    <a href="#">Shop</a>
                                    <ul class="m-submenu">
                                        <li><a href="shop-page.html">Shop Page</a></li>
                                        <li><a href="product-page.html">Product Page</a></li>
                                        <li><a href="cart-page.html">Cart Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="search.html">Search Page</a></li>
                                <li><a href="search-none.html">Search None Page</a></li>
                                <li><a class="active" href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Services</a>
                            <ul class="m-submenu">
                                <li><a href="service.html">Service</a></li>
                                <li><a href="service-single.html">Service Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Cases</a>
                            <ul class="m-submenu">
                                <li><a href="case-study.html">Case Study</a></li>
                                <li><a href="case-single.html">Case Study Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">blog</a>
                            <ul class="m-submenu">
                                <li><a href="blog-page.html">Blog Page</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact</a>
                        </li>
                    </ul>
                    <ul class="social-link-list d-flex flex-wrap">
                        <li><a href="#" class="facebook"><i class=" fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter-sm"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- mobile-nav section ending here -->

    <!-- header section start here -->
    <header class="header-section transparent-header style-2 style-3 d-none d-xl-block">
        <nav class="primary-menu">
            <div class="container">
                <div class="menu-area">
                    <div class="row align-items-center justify-content-lg-center">
                        <img src="assets/images/logo/lictic.png" style="width: 125px;" alt="logo">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- header section ending here -->

    <!-- coming soon section start here -->
    <section class="coming-soon d-flex align-items-center" >
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-12">
                    <h2 class="dark-blue">Coming Soon</h2>
                    <p class="grey">Our website is under constructions currently. Don’t worry! We will coming within a
                        short time. Stay with us.</p>
                    <ul id="demo" class="countdown d-flex flex-wrap align-items-center ">
                        <li>
                            <h3><span id="days" class="days dark-blue">56</span></h3>
                            <p class="days_text grey">Days</p>
                        </li>
                        <li>
                            <h3><span id="hours" class="hours dark-blue">22</span></h3>
                            <p class="hours_text grey">Hours</p>
                        </li>
                        <li>
                            <h3><span id="minutes" class="minutes dark-blue">56</span></h3>
                            <p class="minu_text grey">minutes</p>
                        </li>
                        <li>
                            <h3><span id="seconds" class="seconds dark-blue">40</span></h3>
                            <p class="seco_text grey">seconds</p>
                        </li>
                    </ul>
                    <div class="news-letter">
                        <div class="section-wrapper">
                            <p class="notify grey">Get a notification on your e-mail for updates.</p>
                            <div class="recent-news">
                                <input class="bg-grey-blue" type="email" name="email" placeholder="Enter Your Email">
                                <button type="submit" class="btn bg-mid-blue">Subscribe
                                    Now</button>
                            </div>
                            <ul class="social-media-icons">
                                <li>
                                    <a class="facebook" href="https://web.facebook.com/Lictic-102543082623277"
                                        target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a class="whatsapp" href="https://walink.co/2043cc" target="_blank"><i
                                            class="fab fa-whatsapp"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin"
                                        href="https://www.linkedin.com/company/lictic/about/?viewAsMember=true"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a class="instagram" href="https://www.instagram.com/licticahora/"
                                        target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="youtube" href="https://www.youtube.com/channel/UCgAzOoMYeB6gAXMhPAA-RbQ"
                                        target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coming soon section ending here -->


 

